body {
  background-color: rgb(198, 200, 201);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 25px 25%;
  text-align: center;
}

h2 {
  margin: 25px 25%;
  text-align: center;
  color: rgb(149, 6, 149);
}

th {
  background-color: rgb(202, 91, 202);
}

table,
th,
td {
  border: 2px solid purple;
  border-collapse: collapse;
}

table {
  margin: 0 25%;
}